* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}


ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 1128px;
  gap: 24px;
  margin: 0 auto;
  margin-top: 24px;
}

.gallery-image {  
  width: 360px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

.gallery-image:hover {
  transform: scale(1.03);
}

.basicLightbox {
  cursor: zoom-out;
}

